*, *::before, *::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: sans-serif;
	font-size: 20px;
}

img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	display: block;
	width: 100%;
	padding: 0 15px;
}

/* .header */

.header {
	padding: 1.5rem 0;
}

.header__logo {
	max-width: 200px;
}

.header__line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.header__nav {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.header__nav-link {
	font-size: 1.5rem;
	text-decoration: none;
}

.header__nav-link_active {
	font-weight: bold;
}

/* .header */

.main {
	padding: 1.5rem 0;
}

