@import "./global.css";

/* .header */

.header {
	padding: 1.5rem 0;
}

.header__logo {
	max-width: 200px;
}

.header__line {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.header__nav {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.header__nav-link {
	font-size: 1.5rem;
	text-decoration: none;
}

.header__nav-link_active {
	font-weight: bold;
}

/* .header */

.main {
	padding: 1.5rem 0;
}
